<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Result</title>
</head>
<body>
    <input type="file" id="imageInput" accept="image/*">
    <button onclick="sendRequest()">Send Request</button>

    <h2>Original Image</h2>
    <img id="originalImage" alt="Original Image" width="500">
    
    <h2>Processed Image</h2>
    <img id="processedImage" alt="Processed Image" width="500">

    <h2>Histogram</h2>
    <img id="histogramImage" alt="Histogram" width="500">

    <script>
        let base64ImageData;

        // Function to upload the image and send the request when the "Send Request" button is clicked
        async function sendRequest() {
            try {
                const inputElement = document.getElementById('imageInput');
                const file = inputElement.files[0];

                if (!file) {
                    console.error('Please upload an image first.');
                    return;
                }

                const reader = new FileReader();
                reader.onloadend = async function () {
                    base64ImageData = reader.result.split(',')[1];
                    console.log('Image uploaded:', base64ImageData);

                    // Get the image data (base64) from the server
                    const response = await fetch('/upload', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            image: base64ImageData,
                            filter: 'perwitt',
                        }),
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }

                    const data = await response.json();
                    console.log(data)
                    // Update the image elements with the received data
                    document.getElementById('originalImage').src = 'data:image/png;base64,' + base64ImageData
                    document.getElementById('processedImage').src = 'data:image/png;base64,' + data.processed_image;
                };

                reader.readAsDataURL(file);
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
</body>
</html>
